<div class="container-contact">
    <div class="card">
        <div class="card-header facebook">
            <i class="fa fa-facebook"></i> 
        </div>
        <p class="card-content"><%= data.socialMedia[0].followers %> Followers</p>
        <a href="#" class="card-button facebook">View more</a>
    </div>

    <div class="card">
        <div class="card-header google">
            <i class="fa fa-google-plus"></i> 
        </div>
        <p class="card-content"><%= data.socialMedia[1].followers %> Followers</p>
        <a href="#" class="card-button google">View more</a>
    </div>

    <div class="card">
        <div class="card-header whatsapp">
            <i class="fa fa-whatsapp"></i> 
        </div>
        <p class="card-content"><%= data.socialMedia[2].followers %> Followers</p>
        <a href="#" class="card-button whatsapp">View more</a>
    </div>
    <div class="card">
        <div class="card-header telegram">
            <i class="fa fa-twitter"></i> 
        </div>
        <p class="card-content"><%= data.socialMedia[3].followers %> Followers</p>
        <a href="#" class="card-button telegram">View more</a>
    </div>

</div>