<div class="header">
        <div class="item btn">
            <a href="http://localhost:3000/add-product">
                <button class="card-button" >Add product</button>
            </a>
        </div>
        <div class="search-container">
            <input id="searchInput" type="text" class="search-input" placeholder="Search for a product">
            <i class="fa fa-search search-icon"></i>
            </div>

        
        <div class="item nav-header">
            <i class="fa fa-user" ></i>
            <%= appConfig.fullname %>
        </div>
        <div class="bar">
            <i class="fa fa-bars" ></i>
        </div>
        <script src="js/search.js"></script>

</div>